In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("gld_price_data.csv")
pd.set_option("display.max_columns",None)
df.head()

       Date          SPX        GLD        USO     SLV   EUR/USD
0  1/2/2008  1447.160034  84.860001  78.470001  15.180  1.471692
1  1/3/2008  1447.160034  85.570000  78.370003  15.285  1.474491
2  1/4/2008  1411.630005  85.129997  77.309998  15.167  1.475492
3  1/7/2008  1416.180054  84.769997  75.500000  15.053  1.468299
4  1/8/2008  1390.189941  86.779999  76.059998  15.590  1.557099

In [3]:
df.isnull().sum()

Date       0
SPX        0
GLD        0
USO        0
SLV        0
EUR/USD    0
dtype: int64

In [4]:
df.duplicated().sum()

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2290 entries, 0 to 2289
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2290 non-null   object
 1   SPX      2290 non-null   float64
 2   GLD      2290 non-null   float64
 3   USO      2290 non-null   float64
 4   SLV      2290 non-null   float64
 5   EUR/USD  2290 non-null   float64
dtypes: float64(5), object(1)
memory usage: 107.5+ KB

In [6]:
df.describe()

               SPX          GLD          USO          SLV      EUR/USD
count  2290.000000  2290.000000  2290.000000  2290.000000  2290.000000
mean   1654.315776   122.732875    31.842221    20.084997     1.283653
std     519.111540    23.283346    19.523517     7.092566     0.131547
min     676.530029    70.000000     7.960000     8.850000     1.039047
25%    1239.874969   109.725000    14.380000    15.570000     1.171313
50%    1551.434998   120.580002    33.869999    17.268500     1.303297
75%    2073.010070   132.840004    37.827501    22.882500     1.369971
max    2872.870117   184.589996   117.480003    47.259998     1.598798

In [7]:
df["Date"] = pd.to_datetime(df["Date"])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2290 entries, 0 to 2289
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2290 non-null   datetime64[ns]
 1   SPX      2290 non-null   float64
 2   GLD      2290 non-null   float64
 3   USO      2290 non-null   float64
 4   SLV      2290 non-null   float64
 5   EUR/USD  2290 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 107.5 KB

In [9]:
df["Year"] = df["Date"].dt.year

In [10]:
df["Month"] = df["Date"].dt.month

In [11]:
df["Day"] = df["Date"].dt.day

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2290 entries, 0 to 2289
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     2290 non-null   datetime64[ns]
 1   SPX      2290 non-null   float64
 2   GLD      2290 non-null   float64
 3   USO      2290 non-null   float64
 4   SLV      2290 non-null   float64
 5   EUR/USD  2290 non-null   float64
 6   Year     2290 non-null   int64
 7   Month    2290 non-null   int64
 8   Day      2290 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(3)
memory usage: 161.1 KB

In [13]:
df.describe()

,SPX,GLD,USO,SLV,EUR/USD,Year,Month,Day
count,2290.000000,2290.000000,2290.000000,2290.000000,2290.000000,2290.000000,2290.000000,2290.000000
mean,1654.315776,122.732875,31.842221,20.084997,1.283653,2012.724891,6.329258,15.644541
std,519.111540,23.283346,19.523517,7.092566,0.131547,2.993271,3.591149,8.746132
min,676.530029,70.000000,7.960000,8.850000,1.039047,2008.000000,1.000000,1.000000
25%,1239.874969,109.725000,14.380000,15.570000,1.171313,2010.000000,3.000000,8.000000
50%,1551.434998,120.580002,33.869999,17.268500,1.303297,2013.000000,6.000000,15.500000
75%,2073.010070,132.840004,37.827501,22.882500,1.369971,2015.000000,10.000000,23.000000
max,2872.870117,184.589996,117.480003,47.259998,1.598798,2018.000000,12.000000,31.000000

In [14]:
X = df.iloc[:,[1,3,4,5,6,7,8]].values
Y = df.iloc[:,2].values

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=40)

In [16]:
print(X)

[[1.44716003e+03 7.84700010e+01 1.51800000e+01 ... 2.00800000e+03
  1.00000000e+00 2.00000000e+00]
 [1.44716003e+03 7.83700030e+01 1.52850000e+01 ... 2.00800000e+03
  1.00000000e+00 3.00000000e+00]
 [1.41163000e+03 7.73099980e+01 1.51670000e+01 ... 2.00800000e+03
  1.00000000e+00 4.00000000e+00]
 ...
 [2.72307007e+03 1.44100000e+01 1.57400000e+01 ... 2.01800000e+03
  5.00000000e+00 1.00000000e+01]
 [2.73012988e+03 1.43800000e+01 1.55600000e+01 ... 2.01800000e+03
  5.00000000e+00 1.40000000e+01]
 [2.72578003e+03 1.44058000e+01 1.54542000e+01 ... 2.01800000e+03
  5.00000000e+00 1.60000000e+01]]

In [17]:
print(Y)

[ 84.860001  85.57      85.129997 ... 125.18     124.489998 122.5438  ]

In [18]:
from sklearn.ensemble import RandomForestRegressor
RGE = RandomForestRegressor(n_estimators=50,random_state=0)
RGE.fit(X_train,Y_train)

RandomForestRegressor(n_estimators=50, random_state=0)

In [19]:
Y_pred = RGE.predict(X_test)

In [20]:
from sklearn.metrics import r2_score,mean_squared_error

In [21]:
r2_score(Y_test,Y_pred)

0.9958012194450685

In [22]:
mean_squared_error(Y_test,Y_pred,squared=False)

1.5167363744923958

In [23]:
import pickle
pickle.dump(RGE,open("model.pkl","wb"))